

.vertical-menu {
  width: 110px;
  margin-top: 10px;
}

.vertical-menu a {
  background-color: #f8d68f;
  color: black;
  display: block;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #7c80c4;
  color: white;
}

.breadcrumb-item a {
  color:white;
}

div.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 360px;
}

/*Responsive*/

#leftlogo{
  margin-top:15px;
}

.p1{
  padding: 0px;margin-top:0px; font-size: 12px;margin-bottom:0px;
}
.p2{
  padding: 0px;margin-top:0px; font-size: 12px;
}
.p3{
  font-size: 12px; margin-bottom:0px;
}
.p4{
  font-size: 14px;padding: 0px;margin-top:0px; margin-bottom:0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
    height: auto;
  }
 
  #leftlogo{
    width: 30px;
  }

  .vertical-menu {
    width: 50px;
    margin-top: 10px;
    font-size: 12px;
  }
  #stuartimage{
    width: auto;
    height: 130px;
  }

  

  .p1{
    padding: 0px;margin-top:0px; font-size: 8px;margin-bottom:0px;
    }
    .p2{
        padding: 0px;margin-top:0px; font-size: 8px;
    }
    .p3{
        font-size: 8px; margin-bottom:0px;
    }
    .p4{
      font-size: 8px;padding: 0px;margin-top:0px; margin-bottom:0px;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .responsive {
    width: 80%;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .responsive {
    width: 60%;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .responsive {
    width: 50%;
    height: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .responsive {
    width: 40%;
    height: auto;
  }
}