

.vertical-menu {
  width: 110px;
  margin-top: 10px;
}

.vertical-menu a {
  background-color: #f8d68f;
  color: black;
  display: block;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #7c80c4;
  color: white;
}

.breadcrumb-item a {
  color:white;
}



/*Responsive*/

#leftlogo{
  margin-top:15px;
}

.p1{
  padding: 0px;margin-top:0px; font-size: 12px;margin-bottom:0px;
}
.p2{
  padding: 0px;margin-top:0px; font-size: 12px;
}
.p3{
  font-size: 12px; margin-bottom:0px;
}
.p4{
  font-size: 14px;padding: 0px;margin-top:0px; margin-bottom:0px;
}
.hproj{
margin-top:-5px;margin-bottom:10px;
}
.myImg{
  width: 300px;
  height: 200px;

}


@media only screen and (min-width: 600px) {
  #bodyIndex {
    margin: 0;
    background-color: red;
}

  .responsive {
    width: 100%;
    height: auto;
  }
 
  #leftlogo{
    width: 30px;
  }

  .vertical-menu {
    width: 50px;
    margin-top: 10px;
    font-size: 12px;
  }
  #stuartimage{
    width: auto;
    height: 130px;
  }
  .p1{
    padding: 0px;margin-top:0px; font-size: 8px;margin-bottom:0px;
    }
    .p2{
        padding: 0px;margin-top:0px; font-size: 8px;
    }
    .p3{
        font-size: 8px; margin-bottom:0px;
    }
    .p4{
      font-size: 8px;padding: 0px;margin-top:0px; margin-bottom:0px;
  }
  .hproj{
    margin-top:-5px;margin-bottom:10px;font-size: 10px;
    }
    .breadcrumb-item a {
      color:white;
      font-size: 10px;
    }
    .myImg{
      width: 150px;
      height: auto;

    }
}

/*  (359px and down) */
@media only screen and (max-width: 359px) {
#bodyIndex {margin: 0;background-color: white;}
#solidbarIndex {--bs-gutter-y: 0;--bs-gutter-x: 0;border-top:10px black solid;text-align:right;padding-right:0px;flex: 0 0 auto;width: 16%;}
#leftlogo{width: 40px;}
.vertical-menu {width: 45px;margin-top: 10px;font-size: 10px;}
#rightDivIndex {--bs-gutter-y: 0;--bs-gutter-x: 0;flex: 0 0 auto;  width: 64%;padding-left:5px;}
#stuartH3LineIndex {margin-top:-5px;  margin-bottom:0px;position:absolute;top:15%;}
#stuartLineIndex {font-size: 12px;}
#architectH3LineIndex {position:absolute;top:18%;}
#architectLineIndex {font-size: 12px;}
#designH4LineIndex {position:absolute;top:22%;}
#designLineIndex {font-size: 14px;}
#rightImage1Index {width:100%;height:130px;opacity: 0.5;}
#rightDiv2Index {--bs-gutter-y: 0;--bs-gutter-x: 0;display: flex;flex-wrap: wrap;}
#rightDiv2LeftIndex {--bs-gutter-y: 0;--bs-gutter-x: 0;flex: 0 0 auto;  width: 100%;padding-left:5px;}/*58*/
#rightDiv2RightIndex {--bs-gutter-y: 0;--bs-gutter-x: 0;flex: 0 0 auto;  width: 100%;padding-left:5px;}/*41*/
#rightImage2Index {width:100%;height:130px;opacity: 0.5;}
#rightImage3Index {width:100%;height:130px;opacity: 0.5;}
div.copyright {position: fixed;bottom: 0;width: 340px;font-size: 12px;}
/*Bio*/
#bodyBio {margin: 0;background-color: #595959;}
#DivMiddleBio {--bs-gutter-y: 0;--bs-gutter-x: 0;flex: 0 0 auto;  width: 4%;padding-left:5px;}
#DivTextBio {--bs-gutter-y: 0;--bs-gutter-x: 0;flex: 0 0 auto; width: 100%;padding-left: 55px;padding-top: 130px;position: absolute;}

.responsive {width: 100%;height: auto;}
#stuartimage{width: auto;height: 130px;}
.p1{padding: 0px;margin-top:0px; font-size: 8px;margin-bottom:0px;}
.p2{padding: 0px;margin-top:0px; font-size: 8px;}
.p3{font-size: 8px; margin-bottom:0px;}
.p4{font-size: 8px;padding: 0px;margin-top:0px; margin-bottom:0px;}
.hproj{margin-top:-5px;margin-bottom:10px;font-size: 10px;}
.breadcrumb-item a {color:white;font-size: 10px;}
.myImg{width: 150px;height: auto;}
}


/* ( 360px and up) */
@media only screen and (min-width: 360px) {
  #bodyIndex {
    margin: 0;
    background-color: burlywood;
}

  .responsive {
    width: 100%;
    height: auto;
  }
 
  #leftlogo{
    width: 30px;
  }

  .vertical-menu {
    width: 50px;
    margin-top: 10px;
    font-size: 12px;
  }
  #stuartimage{
    width: auto;
    height: 130px;
  }
  .p1{
    padding: 0px;margin-top:0px; font-size: 8px;margin-bottom:0px;
    }
    .p2{
        padding: 0px;margin-top:0px; font-size: 8px;
    }
    .p3{
        font-size: 8px; margin-bottom:0px;
    }
    .p4{
      font-size: 8px;padding: 0px;margin-top:0px; margin-bottom:0px;
  }
  .hproj{
    margin-top:-5px;margin-bottom:10px;font-size: 10px;
    }
    .breadcrumb-item a {
      color:white;
      font-size: 10px;
    }
    .myImg{
      width: 150px;
      height: auto;

    }
}

/* ( 480px and up) */
@media only screen and (min-width: 480px) {
  #bodyIndex {
    margin: 0;
    background-color: darkorchid;
}

  .responsive {
    width: 100%;
    height: auto;
  }
 
  #leftlogo{
    width: 30px;
  }

  .vertical-menu {
    width: 50px;
    margin-top: 10px;
    font-size: 12px;
  }
  #stuartimage{
    width: auto;
    height: 130px;
  }
  .p1{
    padding: 0px;margin-top:0px; font-size: 8px;margin-bottom:0px;
    }
    .p2{
        padding: 0px;margin-top:0px; font-size: 8px;
    }
    .p3{
        font-size: 8px; margin-bottom:0px;
    }
    .p4{
      font-size: 8px;padding: 0px;margin-top:0px; margin-bottom:0px;
  }
  .hproj{
    margin-top:-5px;margin-bottom:10px;font-size: 10px;
    }
    .breadcrumb-item a {
      color:white;
      font-size: 10px;
    }
    .myImg{
      width: 150px;
      height: auto;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #bodyIndex {
    margin: 0;
    background-color: bisque;
} 
  .responsive {
    width: 80%;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #bodyIndex {
    margin: 0;
    background-color: yellow;
}

  .responsive {
    width: 60%;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #bodyIndex {
    margin: 0;
    background-color: grey;
}

  .responsive {
    width: 50%;
    height: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #bodyIndex {
    margin: 0;
    background-color: pink;
}

  .responsive {
    width: 40%;
    height: auto;
  }
}

/* Huge devices (large TVs, 2400px and up) */
@media only screen and (min-width: 2400px) {
  #bodyIndex {
    margin: 0;
    background-color: navy;
}

  .responsive {
    width: 40%;
    height: auto;
  }
}